<% provide(:title, "About") %>
<body>
<div class="container" id="box">
    <h3 class="orange">关于我们</h3>
    <hr>
    <div class="ud-pd-sm">
        <h4 class="orange">社区介绍</h4>
        <p>国科大评课社区的宗旨是解决同学们选课过程中，对课程了解缺乏的问题，提供一个同学们交流课程体会，相互学习共同进步的平台。在社区里，您可以对课程进行评价、与同学们交流课程体会与心得、发布自己的学习经验和考试总结。目前处于开发初期，更多的功能尽情期待...</p>
    </div>
    <div class="ud-pd-sm">
        <h4 class="orange">项目团队</h4>
        <ol class="list-unstyled">
            <li>董昕州、全威、谭伟、刘晴、翟诗岚</li>
        </ol> 
    </div>
    <div class="ud-pd-sm">
        <h4 class="orange">联系我们</h4>
        <p>社区的进步和完善离不开您的反馈和建议，如果您对我们社区有什么想法或建议，欢迎邮件联系我们。</p>
        <p>感谢各位同学和老师的支持与关注，有了你们的监督，我们会尽力做的更好。</p>
    </div>
</div>
</body>