<% provide(:title, "Rules") %>
<body>
<div class="container" id="box">
  <h3 class="orange">社区规则</h3>
  <hr>
  <div class="dark-grey desktop-width75">
    <div class="ud-pd-sm">
      <ul class="list-unstyled lh-lg">
        <p>国科大评课社区的创建是为了服务同学，帮助同学选择适合自己的课程，交流分享课程体会。</p>
      </ul>
    </div>
    <div class="ud-pd-sm">
      <h4 class="orange">违禁内容</h4>
      <p>为了打造一个和谐，友爱的评课社区，请不要发布：</p>
      <ul class="ud-pd-sm">
        <li>不良信息</li>
        <li>人身攻击、辱骂以及挑衅等言论</li>
        <li>广告、重复内容、或者与本课程无关内容</li>
        <li>披露他人个人隐私的内</li>
      </ul>
      <p>如有违反，我们将删除相关评论，并视情节严重删除发布者的账号</p>
    </div>
    <div class="ud-pd-sm">
      <h4 class="orange">评论规范</h4>
      <ol class="list-unstyled">
        <li>我们希望能够成为一个让同学们友好交流的平台，希望您在评价课程时，公正客观地评价，秉持着尊重老师及其劳动成果的原则，使用委婉的语气，也更能让人接受。</li>
        <li>原则上，只有学过该课程的同学才能够发布评论，但是考虑到很多课程都有部分蹭课的同学，因此不做限制。希望同学们不要随意发布评价。</li>
      </ol> 
    </div>
    <div class="ud-pd-sm">
      <h4 class="orange">用户隐私</h4>
      <ol class="list-unstyled">
        <li>为了提高社区质量，注册时需要使用国科大的邮箱，我们承诺不会将用户的邮箱信息对外公开或者泄露给他人。</li>
        <li>其他用户可以通过评价访问您的个人主页，浏览您发布过的评价（但不会看到你的邮箱地址）。同学们在发布评价时，要注意保护自己的个人隐私。</li>
      </ol>
    </div>
  </div>
</div>
</boby>