<% provide(:title, "Rules") %>
<!DOCTYPE>
<html lang="ch">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="评课是为了更好地选课！">
        <meta name="keywords" content="中国科学院大学,,国科大，评课,课程">
        <meta name="author" content="tw,dxz,qw,lq,zsl">
        <!——link rel="icon" href="/static/image/favicon.ico"——>
        <title>国科大评课社区</title>
        <!——link href="/static/css/bootstrap.min.css" rel="stylesheet"——>
        <!——link href="/static/css/style.css?ver=20180122" rel="stylesheet"——>
    </head>
    <body>
      <div class="container">
          <div class="row float-element">
              <h3 class="orange">社区规则</h3>
              <hr>
              <div class="dark-grey desktop-width75">
                  <div class="ud-pd-sm">
                      <ul class="list-unstyled lh-lg">
                          <p>国科大评课社区的创建是为了服务同学，帮助同学选择适合自己的课程，交流分享课程体会。您发布的评论可能被学校的老师，同学们看到。为了避免不良的影响，希望您能够遵守国家相关法律规定以及社区规则，共同打造一个和谐，友爱的评课社区。</p>
                      </ul>
                  </div>
                  <div class="ud-pd-sm">
                      <h4 class="orange">违禁内容</h4>
                      <p>以下是一些常识性的规则，希望您能够严肃对待，不要试图投机取巧进行不正当的规避。</p>
                      <ul class="ud-pd-sm">
                        <li>严禁发布关于裸露和色情，暴力或有严重社会危害性和危险性的内容。如果发现，我们将对发布者进行封号处理。</li>
                        <li>禁止一切形式的人身攻击、辱骂以及挑衅等言论。如有类似情况发生，我们将视情节严重性，进行删帖，或警告封号处理。</li>
                        <li>禁止发布广告、重复内容、或者与本课程无关内容。如有发生，我们将删除相关评论，并视情节对于发布者进行封号处理。</li>
                        <li>禁止披露他人个人隐私的行为，或未经允许使用他人的照片作为头像。对于违反者，我们将进行警告处理。</li>
                      </ul>
                  </div>
                  <div class="ud-pd-sm">
                      <h4 class="orange">评论规范</h4>
                      <ol class="list-unstyled">
                          <li>我们希望能够成为一个让同学们友好交流的平台，希望您在评价课程时，公正客观地评价，秉持着尊重老师及其劳动成果的原则，使用委婉的语气，也更能让人接受。</li>
                          <li>原则上，只有学过该课程的同学才能够发布评论，但是考虑到很多课程都有部分蹭课的同学，因此不做限制。希望同学们不要随意发布评价。</li>
                      </ol> 
                  </div>
                  <div class="ud-pd-sm">
                      <h4 class="blue">举报不当评论</h4>
                      <p>如果您发现有违反国家规定以及社区规则的评论，希望能够点击评论右上方的举报，举报采用匿名方式，其他同学不会知道举报的是谁。我们也将认真处理每一条举报，所以请不要重复提交噢。</p>
                  </div>
                  <div class="ud-pd-sm">
                      <h4 class="orange">用户隐私</h4>
                      <ol class="list-unstyled">
                          <li>为了提高社区质量，注册时需要使用国科大的邮箱，我们承诺不会将用户学号，邮箱信息对外公开或者泄露给他人。</li>
                          <li>其他用户可以通过评价访问您的个人主页，浏览您发布过的评价。同学们在发布评价时，要注意保护自己的个人隐私。</li>
                      </ol>
                  </div>
          </div>
        </div>
      </div>
    </body>
</html>