<% if @user.comments.any? %>
  <h3>评论 (<%= @user.comments.count %>)</h3>
  <%= render @ucomments %>
  <%= will_paginate @ucomments , :previous_label =>"上一页",:next_label=>"下一页"%>
<% else %>
  <h3>还没有评论哦</h3>
<% end %>