<li id="user-<%= user.id %>">
  <span><%= user.email %></span>
  <span><%= user.name %>  </span>
  <% if current_user && current_user.admin? && !current_user?(user) %>
      <%= link_to "删除", user, method: :delete, data: { confirm: "确定删除吗?该用户的信息会被全部删除" } %>
  <% end %>
</li>