<li id="course-<%= course.id %>">
  <span><%= link_to course.title, course %></span>
  <span><%= course.teacher %>  </span>
  <% if (current_user && current_user.admin?) %>
    | <%= link_to "删除", course, method: :delete, data: { confirm: "确定删除吗?课程下的评论也会一起删除" } %>
  <% end %>
</li>