// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray-light: #777;
.comment {
  list-style: none;
  margin: 0;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
  align-content: space-between;
  li {
    font-color: #e8ccff;
    border: 3px solid #b088ff;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 0px;
    margin:10px;
    box-sizing: border-box;
    width:90%;
  }
}

 .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  
@media (min-width: 700px) {
  .comment li {
  	width: 45%;
  }
}

@media (min-width: 1000px) {
  .comment li {
  	width: 220px;
  }
}

@media (min-width: 1200px) {
  .comment li {
  	width: 280px;
  }
}