// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ud-pd-sm {
	padding-top: 8px;
	padding-bottom: 8px;
	overflow: hidden;
}
.na_center {
    text-align: center;
}